﻿<!-- Le modèle de composant d'enregistrement contient un formulaire d'inscription simple avec des champs pour le mail, le nom, le prenom et le mot de passe.
    Il affiche des messages de validation pour les champs non valides lorsque le bouton de soumission est cliqué.
    L'événement submit du formulaire est lié à la méthode onSubmit() du composant register -->


<h2>Créer un compte</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Adresse e-mail</label>
        <input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
        <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
            <div *ngIf="f.mail.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label >Nom</label>
        <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
        <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
            <div *ngIf="f.nom.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Prenom</label>
        <input type="text" formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
        <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
            <div *ngIf="f.prenom.errors.required">prenom is required</div>
        </div>
    </div>
    <div class="form-group">
        <label >Mot de passe</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Créer
        </button>
        <a routerLink="/login" class="btn btn-link">Annuler</a>
    </div>
</form>
