﻿<!-- Le modèle de composant de connexion contient un formulaire de connexion avec les champs nom d'utilisateur et mot de passe.
    Il affiche des messages de validation pour les champs non valides lorsque le bouton de soumission est cliqué.
    L'événement submit submit est lié à la méthode onSubmit() du composant de connexion. -->


<h2>Connectez vous</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Adresse e-mail (nolmarine)</label>
        <input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
        <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
            <div *ngIf="f.mail.errors.required">mail is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            S'identifier
        </button>
        <a routerLink="/register" class="btn btn-link">Créer votre compte Admin</a>
    </div>
</form>
